body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Main-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: space-around;
  background-image: url("../src/assets/photo-1519219788971-8d9797e0928e.avif");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  border: 2px solid;
}
